nav{
  background-color:black;
  
}

.nav > .content{
  max-width:980px;
  margin:0 auto;
  
}

.nav ul{
  width:300px;
  display:flex;
  justify-content:space-between;
  margin:0 auto;
  padding-inline-start:0;
}

.nav li{
  align-items:center;
  height:44px;  
  display:flex;
  color:white;
}
