.nav{
  background-color:blanchedalmond;
}

.content{
  max-width:980px;
  margin:0 auto;
}

.list{
  display:flex;
  justify-content:space-between;
  margin:0;
}

.item{
  display:inline-block;
  height:44px;
}
